h1 ~ div {
  display: flex;
  justify-content: space-between;
}

p{
  font-size: large;
  font-family:'Times New Roman', Times, serif;

}

img{
  margin-right:20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

body{
  padding: 1%;
  background-color: black;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 10px;
}

.box{
  background-color: rgb(255, 255, 255);
  padding-bottom:20px ;
  border-bottom:2px solid rgb(59, 59, 59);
  padding-left: 10px;
  box-shadow: rgba(255, 187, 187, 0.35) 0px 5px 15px;
  border-radius: 20px;

}
